{
  "extends": "airbnb-base",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "object-curly-newline": ["warn", {
      "ObjectExpression": { "multiline": true },
      "ObjectPattern": { "multiline": true }
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "operator-linebreak": ["warn", "before"],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "warn"
  },
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ]
}