@keyframes spin
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

.spin {
    position: relative;

    display: inline-block;

    box-sizing: border-box;

    width: 80px;
    height: 80px;

    animation: spin 1.6s infinite cubic-bezier(0.7, 0.35, 0.35, 0.7);

    color: black;

    border: 6px solid transparent;
    border-top-color: currentColor;
    border-left-color: currentColor;
    border-right-color: currentColor;

    border-radius: 50%;
}